<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">NOUVEAU MARIAGE</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <label>PRENOM EPOUX</label>
              <input type="text" disabled name="images" class="form-control" value="Malick" />
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>NOM EPOUX</label>
                <input type="text" disabled class="form-control" value="Dieng" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>PRENOM EPOUSE</label>
                <input type="text" disabled class="form-control" value="Maty" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM EPOUSE</label>
                <input type="email" disabled class="form-control" value="SARR" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>LIEUX DU MARIAGE</label>
                <input type="text" disabled class="form-control" value="MBACKE"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DATE ET HEURE DU MARIAGE</label>
                <input type="text" disabled class="form-control" value="10/09/2022 20h:10"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>OPTION</label>
                <input type="text" disabled class="form-control" value="neant"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">REGIME</label>
                <!-- <input type="email" class="form-control" /> -->
                <select name="" disabled id="" class="form-control">
                  <option value="" disabled >SELECTIONNER</option>
                  <option value="">MONOGAMIE</option>
                  <option value="" selected>POLYGAMIE</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>PROFESSION EPOUX</label>
                <input type="text" disabled class="form-control" value="professeur"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">PROFESSION EPOUSE</label>
                <input type="email" disabled class="form-control" value="menagere" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>DOMICILE EPOUX</label>
                <input type="text" disabled class="form-control" value="THIES"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">RESIDENCE</label>
                <input type="email" disabled class="form-control" value="DAKAR" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>NOM EPOUX PRECEDENT</label>
                <input type="text" disabled class="form-control" value="FAYE"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM EPOUSES PRECEDENTES</label>
                <input type="email" disabled class="form-control" value="Marie"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NUMERO JUGEMENT</label>
                <input type="email" disabled class="form-control" value="123456" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>DIVORCE</label>
                <select disabled name="" id="" class="form-control">
                  <option value="">OUI</option>
                  <option value="" selected>NON</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">TYPE DE JUGEMENT</label>
                <input disabled type="email" class="form-control" value="Neant" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>DATE JUGEMENT</label>
                <input disabled type="text" class="form-control" value="10/09/2020" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ANNULER</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>FERMER</button>
  </mat-dialog-actions>
</div>
