<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h2 class="card-title">DETAIL DECES</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">PRENOM DU DECES</label>
                <input type="email" class="form-control" disabled value="ablaye"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM DU DECES</label>
                <input type="email" class="form-control" disabled value="diouf" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DOMICILE DU DECES</label>
                <input type="email" class="form-control" disabled value="mbour"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DATE ET HEURE DU DECES</label>
                <input type="text" class="form-control" disabled value="29/05/2021 19h10" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">PROFESSION DU DECES</label>
                <input type="email" class="form-control" disabled value="artiste"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">LIEUX DU DECES</label>
                <input type="email" class="form-control"  disabled value="tambacounda"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">PRENOM DECLARANT</label>
                <input type="email" class="form-control" disabled value="Moussa" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NOM DECLARANT</label>
                <input type="email" class="form-control" disabled value="Ngom" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DOMICILE DECLARANT</label>
                <input type="email" class="form-control" disabled value="thies" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">LIEN PARENTALE</label>
                <input type="email" class="form-control" disabled value="frere" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">PROFESSION DECLARANT</label>
                <input type="email" class="form-control" disabled value="enseignant" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NUMERO CNI DECLARANT</label>
                <input type="email" class="form-control" disabled value="12345678" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DATE DECLARATION</label>
                <input type="email" class="form-control" disabled value="20/10/2010"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">MENTION MARGINALE</label>
                <input type="email" class="form-control" value="neant" disabled />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">TYPE DE JUGEMENT</label>
                <input type="email" class="form-control" disabled value="neant" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">NUMERO JUGEMENT</label>
                <input type="email" class="form-control" value="1234567" disabled />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">DATE JUGEMENT</label>
                <input type="email" disabled class="form-control" value="10/08/2020"/>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleInputEmail1">ENFANT MORT NEE</label>
                <!-- <input type="email" class="form-control" /> -->
                <select disabled name="" id="" class="form-control">
                  <option value="">OUI</option>
                  <option value="" selected>NON</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>FERMER</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
      APPLIQUER
    </button> -->
  </mat-dialog-actions>
</div>
